*{
    margin:0px;
    padding: 0px;
}
/* 顶部布局开始 */
.header{
    width: 100%;
    height: 120px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}
.header_con{
    width: 1190px;
    height: 80px;
    border: 1px solid red;
}
.header_logo{
    width: 200px;
    height: 50px;
    margin-top: 15px;
}
.header_right{
    width: 890px;
    height: 40px;
    border: 1px solid red;
    margin-top: 20px;
    float: right;
}
.header_search{
    width: 380px;
    height: 30px;
    border: 1px solid red;
    margin:5px 108.4px;
}
.header_menu{
    width: 313.2px;
    height: 40px;
    list-style: none;
    float: right;

}
.header_menu li{
    display: inline;
}

/* 顶部布局结束 */